@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #222831;
  --primary: #393e46;
  --secondary: #00adb5;
  --text-color: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #eeeeee;
    --primary: #393e46;
    --secondary: #00adb5;
    --text-color: #eeeeee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
